{# src/Ideup/ProjectBundle/Resources/views/Project/index.html.twig #}
{% extends 'IdeupProjectBundle::base.html.twig' %}

{% block body %}
	<h1>Pequeño Sistema de Gestión de Tareas</h1>
{% endblock %}
