
form { font-size: 15px; }
form div { clear: left; margin-bottom: 10px; }
form label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
form input[type="text"],
	 input[type="select"]
    { width: 280px; line-height: 26px; font-size: 16px; min-height: 18px; }
form textarea { width: 280px; height: 150px; line-height: 26px; font-size: 16px; }
form input[type="submit"] { margin-left: 110px; width: 280px; line-height: 26px; font-size: 16px; min-height: 18px; }
form ul li { color: #ff0000; margin-bottom: 5px; }
